<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="/assets/icon.png" type="image/icon type">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>L&T Defence</title>
</head>
<body>
<div>
    <navbar class="navbar1">
        <img src="/assets/logowhite.png" alt="" class="logo">
        <div class="navbar-right">
        <button class="nav-button" onclick="openPopup('user-popup')">Logout</button>
    </div>
    </navbar>

    <div id="user-popup" class="popup">
        <div class="popup-content">
            <span class="close" onclick="closePopup('user-popup')">&times;</span>
                <a href="/" class="forgot-password" >Are you Sure? <span class="click"> Yes! </span><span>No!</span></a>
            </form>
            </div>
    </div>
</div>

<div class="sidebar">
    <div class="list">
        <a class="list_item">Work Instruction</a>
        <a href="/cl" class="list_item">Check List</a>
        <a href="/ap" class="list_item">Assembly Prequsites</a>
        <a href="/il" class="list_item">Issue Logs</a>
        <a href="/cr" class="list_item">CAPA Reports</a>
        <a href="/tm" class="list_item"> Task Management</a>
        <a href="/mtp" class="list_item">Monthly Target Plans</a>
    </div>
</div>

<section>

<button onclick=" window.open('/documents/US Cleaning.pdf'); return true;" class="usc">US Cleaning</button>
<button onclick=" window.open('/documents/Vacuum Baking.pdf'); return true;" class="vb">Vacuum Baking</button>
<button onclick=" window.open('/documents/Window Assembly.pdf'); return true;" class="wa">Window Assembly</button>
<button onclick=" window.open('/documents/bodyTemperatureCableAssembly.pdf'); return true;" class="swb">Switch, Buzzer, Vent</button>
<button onclick=" window.open('/documents/bodyTemperatureCableAssembly.pdf'); return true;" class="bpa">Breather Port Assembly</button>
<button onclick=" window.open('/documents/Inlet Nozzle Assembly.pdf'); return true;" class="ina">Inlet Nozzle Assembly</button>
<button onclick=" window.open('/documents/Maniflod Block Assembly.pdf'); return true;" class="ma">Manifold Assembly</button>
<button onclick=" window.open('/documents/bodyTemperatureCableAssembly.pdf'); return true;" class="sa">Solenoid Assembly</button>
<button onclick=" window.open('/documents/Pump Assembly.pdf'); return true;" class="pa">Pump Assembly</button>
<button onclick=" window.open('documents/Fine Filter Assembly.pdf'); return true;" class="ffa">Fine Filter Assembly</button>
<button onclick=" window.open('/documents/Permiation Tube Assembly.pdf'); return true;" class="pma">Permeatation Assembly</button>
<button onclick=" window.open('/documents/bodyTemperatureCableAssembly.pdf'); return true;" class="iba">Interface Block Assembly</button>
<button onclick=" window.open('/documents/Micro Heater Assembly.pdf'); return true;" class="mha">Micro Heater Assembly</button>
<button onclick=" window.open('/documents/Ni Holder Assembly.pdf'); return true;" class="nha">Ni Holder Assembly</button>
<button onclick=" window.open('/documents/Shutter Grid Assembly.pdf'); return true;" class="sga">Shutter Grid Assembly</button>
<button onclick=" window.open('/documents/Faraday Cup Assembly.pdf'); return true;" class="fca">Faraday Cup Assembly</button>
<button onclick=" window.open('/documents/Front Plate Assembly.pdf'); return true;" class="fpa">Front Plate Assembly</button>
<button onclick=" window.open('/documents/bodyTemperatureCableAssembly.pdf'); return true;" class="ha">Handle Assembly</button>
<button onclick=" window.open('/documents/Inlet Valve Assembly.pdf'); return true;" class="iva">Inlet Valve Assembly</button>
<button onclick=" window.open('/documents/Mol Seive Block Assembly.pdf'); return true;" class="msa">Mol Seive Assembly</button>
<button onclick=" window.open('/documents/bodyTemperatureCableAssembly.pdf'); return true;" class="bnn">Body Heater Cable Assembly,<br>
        Nozzle Temperature Sensor Assembly,<br>
        Nozzle Heater Cable Assembly,<br>
        Body Temperature Sensor Assembly,<br>
        Pressure Sensor Assembly,<br>
        Stack Assembly-High Voltage Board, Pre Amplifier Board
</button>
<button onclick=" window.open('/documents/CAM Internal Assembly.pdf'); return true;" class="cia">CAM Internal Assembly</button>
<button onclick=" window.open('/documents/G Membrane Assembly.pdf'); return true;" class="gm">G Membrane </button>
<button onclick=" window.open('/documents/H Membrane Assembly.pdf'); return true;" class="hm">H Membrane</button>
<button onclick=" window.open('/documents/Drift Tube Assembly.pdf'); return true;" class="dta">Drift Tube Assembly</button>
<button onclick=" window.open('/documents/Drift Tube Block Assembly.pdf'); return true;" class="dtba">Drift Tube Block Assembly</button>
<button onclick=" window.open('/documents/bodyTemperatureCableAssembly.pdf'); return true;" class="cama">CAM Assembly</button>
<button onclick=" window.open('/documents/bodyTemperatureCableAssembly.pdf'); return true;" class="bcca">Battery Chamber / Converter Assembly</button>
<button onclick=" window.open('/documents/bodyTemperatureCableAssembly.pdf'); return true;" class="sfi">SICAD / FCAD / INCD</button>
<button onclick=" window.open('/documents/bodyTemperatureCableAssembly.pdf'); return true;" class="pt"></button>
<ul><li class="rhombus">Production</li>
<li class="testing">Testing</li></ul>

</section>

<section>

<p class="down"> &darr;</p>
<p class="downwa"> &darr;</p>
<p class="downswb"> &darr;</p>
<p class="downbpa"> &darr;</p>
<p class="downina"> &darr;</p>
<p class="downma"> &darr;</p>
<p class="downsa"> &darr;</p>
<p class="downpa"> &darr;</p>
<p class="downffa"> &darr;</p>
<p class="downpma"> &darr;</p>
<p class="downiba"> &darr;</p>
<p class="downmha"> &darr;</p>
<p class="downnha"> &darr;</p>
<p class="downsga"> &darr;</p>
<p class="downfca"> &darr;</p>
<p class="downfpa"> &darr;</p>
<p class="downcama"> &darr;</p>
<p class="downcia"> &darr;</p>
<p class="downmsa"> &darr;</p>
<p class="downdta"> &darr;</p>
<p class="downdtba"> &darr;</p>
<p class="downdtba1"> &darr;</p>

<p class="straight1">&#9473;</p>
<p class="straight2">&#9473;</p>
<p class="straight3">&#9473;</p>
<p class="straight4">&#9473;</p>
<p class="straight5">&#9473;</p>
<p class="straight6">&#9473;</p>
<p class="straight7">&#9473;</p>
<p class="straight8">&#9473;</p>
<p class="straight9">&#9473;</p>
<p class="straight10">&#9473;</p>
<p class="straight11">&#9473;</p>
<p class="straight12">&#9473;</p>
<p class="straight13">&#9473;</p>
<p class="straight14">&#9473;</p>
<p class="straight15">&#9473;</p>
<p class="straight16">&#9473;</p>
<p class="straight17">&#9473;</p>
<p class="straight18">&#9473;</p>
<p class="straight19">&#9473;</p>
<p class="straight20">&#9473;</p>
<p class="straight21">&#9473;</p>
<p class="straight22">&#9473;</p>
<p class="straight23">&#9473;</p>
<p class="straight24">&#9473;</p>
<p class="straight25">&#9473;</p>
<p class="straight26">&#9473;</p>
<p class="straight27">&#9473;</p>
<p class="straight28">&#9473;</p>
<p class="straight29">&#9473;</p>
<p class="straight30">&#9473;</p>
<p class="straight31">&#9473;</p>
<p class="straight32">&#9473;</p>
<p class="straight33">&#9473;</p>
<p class="straight34">&#9473;</p>
<p class="straight35">&#9473;</p>
<p class="straight36">&#9473;</p>
<p class="straight37">&#9473;</p>
<p class="straight38">&#9473;</p>
<p class="straight39">&#9473;</p>
<p class="straight40">&#9473;</p>
<p class="straight41">&#9473;</p>
<p class="straight42">&#9473;</p>
<p class="straight43">&#9473;</p>
<p class="straight44">&#9473;</p>
<p class="straight45">&#9473;</p>
<p class="straight46">&#9473;</p>
<p class="straight47">&#9473;</p>
<p class="straight48">&#9473;</p>
<p class="straight49">&#9473;</p>
<p class="straight50">&#9473;</p>
<p class="straight51">&#9473;</p>
<p class="straight52">&#9473;</p>
<p class="straight53">&#9473;</p>
<p class="straight54">&#9473;</p>
<p class="straight55">&#9473;</p>
<p class="straight56">&#9473;</p>
<p class="straight57">&#9473;</p>
<p class="straight58">&#9473;</p>
<p class="straight59">&#9473;</p>
<p class="straight60">&#9473;</p>
<p class="straight61">&#9473;</p>
<p class="straight62">&#9473;</p>
<p class="straight63">&#9473;</p>
<p class="straight64">&#9473;</p>
<p class="straight65">&#9473;</p>
<p class="straight66">&#9473;</p>
<p class="straight67">&#9473;</p>
<p class="straight68">&#9473;</p>
<p class="straight69">&#9473;</p>
<p class="straight70">&#9473;</p>
<p class="straight71">&#9473;</p>
<p class="straight72">&#9473;</p>
<p class="straight73">&#9473;</p>
<p class="straight74">&#9473;</p>
<p class="straight75">&#9473;</p>
<p class="straight76">&#9473;</p>
<p class="straight77">&#9473;</p>
<p class="straight78">&#9473;</p>
<p class="straight79">&#9473;</p>
<p class="straight80">&#9473;</p>
<p class="straight81">&#9473;</p>
<p class="straight82">&#9473;</p>
<p class="straight83">&#9473;</p>
<p class="straight84">&#9473;</p>
<p class="straight85">&#9473;</p>
<p class="straight86">&#9473;</p>
<p class="straight87">&#9473;</p>
<p class="straight88">&#9473;</p>
<p class="straight89">&#9473;</p>
<p class="straight90">&#9473;</p>
<p class="straight91">&#9473;</p>
<p class="straight92">&#9473;</p>
<p class="straight93">&#9473;</p>
<p class="straight94">&#9473;</p>
<p class="straight95">&#9473;</p>
<p class="straight96">&#9473;</p>
<p class="straight97">&#9473;</p>
<p class="straight98">&#9473;</p>
<p class="straight99">&#9473;</p>
<p class="straight100">&#9473;</p>
<p class="straight101">&#9473;</p>
<p class="straight102">&#9473;</p>
<p class="straight103">&#9473;</p>
<p class="straight104">&#9473;</p>
<p class="straight105">&#9473;</p>
<p class="straight106">&#9473;</p>
<p class="straight107">&#9473;</p>
<p class="straight108">&#9473;</p>
<p class="straight109">&#9473;</p>
<p class="straight110">&#9473;</p>
<p class="straight111">&#9473;</p>
<p class="straight112">&#9473;</p>
<p class="straight113">&#9473;</p>
<p class="straight114">&#9473;</p>
<p class="straight115">&#9473;</p>
<p class="straight116">&#9473;</p>
<p class="straight117">&#9473;</p>
<p class="straight118">&#9473;</p>
<p class="straight119">&#9473;</p>
<p class="straight120">&#9473;</p>
<p class="straight121">&#9473;</p>
<p class="straight122">&#9473;</p>
<p class="straight123">&#9473;</p>
<p class="straight124">&#9473;</p>
<!-- <p class="straight125">&#9473;</p> -->
<p class="straight126">&#9473;</p>
<p class="straight127">&#9473;</p>
<p class="straight128">&#9473;</p>
<p class="straight129">&#9473;</p>
<p class="straight130">&#9473;</p>
<p class="straight131">&#9473;</p>
<p class="straight132">&#9473;</p>
<p class="straight133">&#9473;</p>
<p class="straight134">&#9473;</p>
<p class="straight135">&#9473;</p>
<p class="straight136">&#9473;</p>
<p class="straight137">&#9473;</p>
<p class="straight138">&#9473;</p>
<p class="straight139">&#9473;</p>
<p class="straight140">&#9473;</p>
<p class="straight141">&#9473;</p>
<p class="straight142">&#9473;</p>
<p class="straight143">&#9473;</p>
<p class="straight144">&#9473;</p>
<p class="straight145">&#9473;</p>
<p class="straight146">&#9473;</p>
<p class="straight147">&#9473;</p>
<p class="straight148">&#9473;</p>
<p class="straight149">&#9473;</p>
<p class="straight150">&#9473;</p>
<p class="straight151">&#9473;</p>
<p class="straight152">&#9473;</p>
<p class="straight153">&#9473;</p>
<p class="straight154">&#9473;</p>
<p class="straight155">&#9473;</p>
<p class="straight156">&#9473;</p>
<p class="straight157">&#9473;</p>
<p class="straight158">&#9473;</p>
<p class="straight159">&#9473;</p>
<p class="straight160">&#9473;</p>


<p class="left"> &larr;</p>
<p class="left1"> &larr;</p>

<p class="right"> &rarr;</p>
<p class="right1"> &rarr;</p>
<p class="right2"> &rarr;</p>
<p class="right3"> &rarr;</p>

<p class="vertical"> &#x2502;</p>

<p class="vertical1"> &#x2502;</p>
<p class="vertical2"> &#x2502;</p>
<p class="vertical3"> &#x2502;</p>
<p class="vertical4"> &#x2502;</p>
<p class="vertical5"> &#x2502;</p>
<p class="vertical6"> &#x2502;</p>
<p class="vertical7"> &#x2502;</p>
<p class="vertical8"> &#x2502;</p>
<p class="vertical9"> &#x2502;</p>
<p class="vertical10"> &#x2502;</p>
<p class="vertical11"> &#x2502;</p>
<p class="vertical12"> &#x2502;</p>
<p class="vertical13"> &#x2502;</p>
<p class="vertical14"> &#x2502;</p>
<p class="vertical15"> &#x2502;</p>
<p class="vertical16"> &#x2502;</p>
<p class="vertical17"> &#x2502;</p>
<p class="vertical18"> &#x2502;</p>
<p class="vertical19"> &#x2502;</p>
<p class="vertical20"> &#x2502;</p>
<p class="vertical21"> &#x2502;</p>
<p class="vertical22"> &#x2502;</p>
<p class="vertical23"> &#x2502;</p>
<p class="vertical24"> &#x2502;</p>
<p class="vertical25"> &#x2502;</p>
<p class="vertical26"> &#x2502;</p>
<p class="vertical27"> &#x2502;</p>
<p class="vertical28"> &#x2502;</p>
<p class="vertical29"> &#x2502;</p>
<p class="vertical30"> &#x2502;</p>
<p class="vertical31"> &#x2502;</p>
<p class="vertical32"> &#x2502;</p>
<p class="vertical33"> &#x2502;</p>
<p class="vertical34"> &#x2502;</p>
<p class="vertical35"> &#x2502;</p>
<p class="vertical36"> &#x2502;</p>
<p class="vertical37"> &#x2502;</p>
<p class="vertical38"> &#x2502;</p>
<p class="vertical39"> &#x2502;</p>
<p class="vertical40"> &#x2502;</p>
<p class="vertical41"> &#x2502;</p>
<p class="vertical42"> &#x2502;</p>
<p class="vertical43"> &#x2502;</p>
<p class="vertical44"> &#x2502;</p>
<p class="vertical45"> &#x2502;</p>
<p class="vertical46"> &#x2502;</p>
<p class="vertical47"> &#x2502;</p>
<p class="vertical48"> &#x2502;</p>
<p class="vertical49"> &#x2502;</p>
<p class="vertical50"> &#x2502;</p>
<p class="vertical51"> &#x2502;</p>
<p class="vertical52"> &#x2502;</p>
<p class="vertical53"> &#x2502;</p>
<!-- <p class="vertical54"> &#x2502;</p> -->
<p class="vertical55"> &#x2502;</p>
<p class="vertical56"> &#x2502;</p>
<p class="vertical57"> &#x2502;</p>
<p class="vertical58"> &#x2502;</p>
<p class="vertical59"> &#x2502;</p>
<p class="vertical60"> &#x2502;</p>
<p class="vertical61"> &#x2502;</p>
<p class="vertical62"> &#x2502;</p>
<p class="vertical63"> &#x2502;</p>
<p class="vertical64"> &#x2502;</p>
<p class="vertical65"> &#x2502;</p>
<!-- <p class="vertical66"> &#x2502;</p> -->
<p class="vertical67"> &#x2502;</p>
<p class="vertical68"> &#x2502;</p>
<p class="vertical69"> &#x2502;</p>
<p class="vertical70"> &#x2502;</p>
<p class="vertical71"> &#x2502;</p>
<p class="vertical72"> &#x2502;</p>
<p class="vertical73"> &#x2502;</p>
<p class="vertical74"> &#x2502;</p>
<p class="vertical75"> &#x2502;</p>
<p class="vertical76"> &#x2502;</p>
<p class="vertical77"> &#x2502;</p>
<p class="vertical78"> &#x2502;</p>
<!-- <p class="vertical79"> &#x2502;</p> -->
<p class="vertical80"> &#x2502;</p>
<p class="vertical81"> &#x2502;</p>
<p class="vertical82"> &#x2502;</p>
<p class="vertical83"> &#x2502;</p>
<!-- <p class="vertical84"> &#x2502;</p> -->
<!-- <p class="vertical85"> &#x2502;</p> -->
<p class="vertical86"> &#x2502;</p>
<p class="vertical87"> &#x2502;</p>
<p class="vertical88"> &#x2502;</p>
<p class="vertical89"> &#x2502;</p>
<p class="vertical90"> &#x2502;</p>
<p class="vertical91"> &#x2502;</p>
<p class="vertical92"> &#x2502;</p>
<p class="vertical93"> &#x2502;</p>
<p class="vertical94"> &#x2502;</p>
<p class="vertical95"> &#x2502;</p>
<p class="vertical96"> &#x2502;</p>
<p class="vertical97"> &#x2502;</p>
<p class="vertical98"> &#x2502;</p>
<!-- <p class="vertical99"> &#x2502;</p> -->
<p class="vertical100"> &#x2502;</p>
<p class="vertical101"> &#x2502;</p>
<p class="vertical102"> &#x2502;</p>
<p class="vertical103"> &#x2502;</p>
<p class="vertical104"> &#x2502;</p>
<p class="vertical105"> &#x2502;</p>
<p class="vertical106"> &#x2502;</p>
<p class="vertical107"> &#x2502;</p>
<p class="vertical108"> &#x2502;</p>
<p class="vertical109"> &#x2502;</p>
<p class="vertical110"> &#x2502;</p>
<p class="vertical111"> &#x2502;</p>
<!-- <p class="vertical112"> &#x2502;</p> -->



<!-- <p class="vertical114"> &#x2502;</p>
<p class="vertical"> &#x2502;</p>
<p class="vertical"> &#x2502;</p>
<p class="vertical"> &#x2502;</p>
<p class="vertical"> &#x2502;</p>
<p class="vertical"> &#x2502;</p>
<p class="vertical"> &#x2502;</p>
<p class="vertical"> &#x2502;</p> -->

    
</section>

<script>
    function openPopup(popupId) {
    document.getElementById(popupId).style.display = "block";
}

function closePopup(popupId) {
    document.getElementById(popupId).style.display = "none";
}
</script>
    
</body>
</html>